@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

/* Variáveis */
:root {
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-cinza: #A1A1AA;
    --cor-amarelo: #F7B733;
    --cor-fundo: #09090B;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-branco);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.between {
    justify-content: space-between;
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}


header {
    padding: 20px 0;
}

header nav a {
    color: var(--cor-cinza);
    margin: 0 10px;
}

header nav a:hover {
    color: var(--cor-branco)
}

.botao-branco {
    background-color: var(--cor-branco);
    color: var(--cor-fundo);
    padding: 10px 20px;
    border-radius: 5px;
}

.botao-branco:hover {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
}

.banner {
    background: url("../img/sol.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}